<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>555764689958-8d1llr5ip1p2u2fo055eou4mvqs3b5ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsb184GdCNIYE1rhXQaltqatUflvdPZGc</string>
	<key>GCM_SENDER_ID</key>
	<string>555764689958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metacodex.noamanyhr</string>
	<key>PROJECT_ID</key>
	<string>hrms-fca3f</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-fca3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555764689958:ios:52293680a6a2b01f54cae7</string>
</dict>
</plist>